/* Base styles */
.charactersGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-inline: 16px;
  max-height: 100%;
  overflow-y: auto;
}

/* Tablet styles */
@media screen and (min-width: 394px) {
  .charactersGridContainer {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 48px;
  }
}

/* Desktop styles */
@media screen and (min-width: 835px) {
  .charactersGridContainer {
    grid-template-columns: repeat(7, 1fr);
  }
}
