.favoritesTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-inline: 16px;
  transition: opacity 0.3s ease;
  position: absolute;
}

.spacer {
  transition: height 0.3s ease;
}

/* Tablet styles */
@media screen and (min-width: 576px) {
  .favoritesTitle {
    margin-inline: 48px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  /* Add desktop-specific styles here */
}
