/* Base styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 16px;
}

.navbarLogo {
  width: 130px;
  height: 52px;
}

/* Tablet styles */
@media screen and (min-width: 394px) {
  .navbar {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Desktop styles */
@media screen and (min-width: 835px) {
  /* Add desktop-specific styles here */
}
